body {
	margin: 0;
	padding: 0;
	font-family: "robot",'Poiret One', helvetica;
	height: 100vh;
}

#topContainer{
	background: url("https://res.cloudinary.com/slimzycm/image/upload/v1566949696/IMG-20190305-WA0000_jqqo7b.jpg") no-repeat 0 -40px;
	min-height: 100%;
	width: 100%;
	background-size: 100% 190%;
	box-shadow: inset 0 0 0 1200px rgba(0,0,0,.8);
	margin: 0;
	 
}
.container{
	width: 85%;
	margin: auto;
	overflow: hidden;
}

.navbar{
	padding: 0px;
	width: 100%;
	min-height: 80px;
	color: #fff;
	background: #000; 
}

#logo{
	font-family: trebuchet ms;
	float: left;
	font-size: 30px;
	line-height: 80px;
	letter-spacing: 3px;
	text-shadow: 3px 4px 3px orange;
	font-weight: bold;
	margin-right: 20px;

}

nav{
	float: right;
	line-height: 50px;
}

nav ul{ 
	list-style: none;

}

nav ul li{
	display: inline-block;
	margin: 0;
}

nav ul li a{
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	font-size: 18px;
	padding: 0;
	margin-right: 30px;
	margin-left: 0;
	}

nav a:hover{
	color: orange;
	font-weight: bolder;
}

header{
	margin-top: 170px ;
	text-align: center;
	color: #fafafb!important;
	width: 100%;
}
header h1{
    letter-spacing: 6px;
    font-size: 100px;
    font-weight: bolder;
    margin: 0;

}
header h4{
	letter-spacing: 4px;
    font-size: 19px;
    font-weight: 400;
    
    
}
header h4 span{
	font-size: 24px;
	colour
}

clear{
	clear: 
}

#about {
	min-height: 100vh;
	background-color: #000000;
	color: white;
	float: left;
	

}

#about h2 {
	margin-top: 3px 0 0 0;
	padding: 0;
}
.section-wrapper{
	text-align: center;
}

.sectionHeader {
	font-size: 4rem;
	font-family: 'Poiret One';
	color: orange;
	margin: 0 20 0px 0;
	
}
.section-wrapper h3{
font-weight: bold;
margin-top:-60px;
font-size: 15px;
}

#details{
	margin-top: 10px; 
}

#details .content{
	float: left;
	width: 30%;
	padding: 10px;
	text-align: center;
	font-weight: bold;

}
.border-round{
	border: silver 1px solid;
	padding: 7px;
	border-radius: 5px;
	margin: 4px;
	font-size: 15px;
	letter-spacing: 2px;
}
p ul{
	margin: 0;
	padding: 0;
}

.content h3{
	color: silver;
	font-size: 17px;
	letter-spacing: 1px;
	margin: 2;
}

#contact{
	min-height: 100vh;
	background-color: #ffa;
	float: left;
	width: 100%;	
	margin-top: -10px;
	
}

.contactHeader {
	font-size: 3.5rem;
	font-family: 'Poiret One';
	color: orange;
	margin: -200px 20 0px 0;
	text-align: center;
	
}

.contact-wrapper h3{
font-weight: bold;
margin-top:-55px;
font-size: 15px;
text-align: center;
}

form{
	margin-top: 50px;
	margin-bottom: 20px;
	padding-bottom: 50px;

}


.namelabel{
	font-size: 2.3em;
	font-weight: bold;
	margin: 10px 30px 10px 10px;

}

.subjectlabel{
	font-size: 2.3em;
	font-weight: bold;
	margin: 10px 30px 10px 10px;

}

.subjectlabel input{
	height: 20px;
	padding: 7px;
	width: 60%;
	margin-left: 85px; 
	margin-bottom: 10px;
	border-radius: 6px;
	border: none;
	margin-top: 0;
	
}

.emaillabel{
	font-size: 2.3em;
	font-weight: bold;
	margin: 10px 30px 10px 10px;

}

.emaillabel input{
	height: 20px;
	padding: 7px;
	width: 60%;
	margin-left: 102px; 
	margin-bottom: 10px;
	border-radius: 6px;
	border: none;
	margin-top: 0;	
}

.namelabel input{
	height: 20px;
	padding: 7px;
	width: 60%;
	margin-left: 100px; 
	margin-bottom: 10px;
	border-radius: 6px;
	border: none;
	margin-top: 0;
	
}
.messagelabel{
	font-size: 2.3em;
	font-weight: bold;
	margin: 10px;
	box-sizing: 
}


textarea{
	width: 60%;
	height: 200px;
	margin-left: 57px;
	margin-bottom: 10px;
	vertical-align: top;
	border: none;
	border-radius: 6px;
	resize: none;
}


.button{
	width: 100%;
	min-width: 50px;
	max-width: 507px;
	background-color: green;
	padding: 10px;
	border: none;
	border-radius: 4px;
	margin-left: 217px;
	font-size: 18px;
	color: white;
}


footer{
	min-height: 10vh;
	background-color: #000000;
	color: white;
	text-align: center;
	width: 100%;
	float: left;
	padding: 20px 0 0 0;


}

small{
	font-size: 25px;
	margin-top: 

}

#error_message{
	background-color: #fe8b8e;
	padding: 0;
	margin: 40px 0 -30px 0;
	font-size: 16px;
	text-align: center;
	transition: all 0.5s ease;
	font-weight: bold;

}


@media(max-width: 760px){
	#logo, nav, nav li{
		float: none;
		text-align: center;
		width: 100%;

	}

	 #details .content{
		width: 100%;
		margin: 0;
		padding: 0;
		
	 }

	.namelabel{
	font-size: 2.3em;
	font-weight: bold;
	margin-top: 0px;
	margin: 0;
	}
	.subjectlabel{
	font-size: 2.3em;
	font-weight: bold;
	margin-top: 0px;
	margin: 0;
	}
	.emaillabel{
		font-size: 2.3em;
		font-weight: bold;
		margin: 0;

	}

	.emaillabel input{
		height: 20px;
		padding: 7px;
		width: 50%;
		margin-left: 83px; 
		margin-bottom: 10px;
		border-radius: 6px;
		border: none;
		margin-top: -50px;	
	}

	.namelabel input{
		height: 20px;
		padding: 7px;
		width: 50%;
		margin-left: 80px;
		margin-bottom: 10px;
		border-radius: 6px;
		border: none;
		margin-top: -50px;	
		
	}

	.subjectlabel input{
		height: 20px;
		padding: 7px;
		width: 50%;
		margin-left: 66px;
		margin-bottom: 10px;
		border-radius: 6px;
		border: none;
		margin-top: -50px;	
		
	}
	.messagelabel{
		font-size: 2.3em;
		font-weight: bold;
		margin: 0;
	}


	textarea{
		width: 52%;
		height: 200px;
		margin-left: 40px;
		margin-bottom: 10px;
		vertical-align: top;
		border: none;
		border-radius: 6px;
	}


	.button{
		width: 53%;
		background-color: green;
		padding: 10px;
		border: none;
		border-radius: 4px;
		margin-left: 195px;
		font-size: 18px;
		color: white;
	}
	 

}





